    <dialog id="task-dialog">
        <div class="create">
            <div class="create-x">
                    <h1 class="add" id="task-dialog-title">Add a new task</h1>
                    <button class="style-add-task-close-btn" 
                    id="add-task-cancel-btn"
                    type="button">X</button>
            </div>

            <input id="task-name-input" type="text" placeholder="Task name">
            <p class="input-error" id="task-name-error"></p>

            <input id="task-duration-input" type="number" placeholder="Duration (in minutes)">
            <p class="input-error" id="task-duration-error"></p>

            <input id="task-time-input" type="time" placeholder="--;-- --">
            <p class="input-error" id="task-time-error"></p>

            <button class="add-task-create-btn" id="task-create-btn">Create Task</button>
        </div>
    </dialog>