    <header>
        <div class="top-left">
            <p class="icon">🥂</p>
            <div class="welcome-text">
                <h1>Welcome</h1>
                <p class="guest" id="guest-name">Guest.</p>
            </div>
        </div>

        <div class="top-right">
                <button 
                    class="top-mood-btn" 
                    id="mood-open-btn"
                    type="button">
                    Mood: 😐
                </button>
                
                <button 
                    class="top-weather-btn" 
                    id="weather-open-btn"
                    type="button">
                     <img id="first-weather-icon" alt="Weather icon" class="first-Wico">

                </button>

                <button 
                    class="style-profile-open-btn"
                    id="profile-open-btn"
                    type="button">
                    👤
                </button>
        </div>
    </header>