    <dialog id="login-dialog" class="login-dialog-style">
        <div class="login">

            <div class="login-x">
                <p class="login-top">Login</p>

                <button 
                    class="style-profile-close-btn"
                    id="profile-close-btn"
                    type="button">
                    X
                </button>
            </div>

            <h1 class="profile-h1">Welcome Back !</h1>

            <p class="profile-details">Please enter your details to Login</p>

            <input 
                type="text" 
                placeholder="Name"
                id="profile-name-input"
                class="profile-input-name"
            >
            <p class="input-error" id="name-error"></p>

            <input 
                type="email" 
                placeholder="Email"
                id="profile-email-input"
                class="profile-input-email"
            >
            <p class="input-error" id="email-error"></p>

            <input 
                type="password" 
                placeholder="Password"
                id="profile-password-input"
                class="profile-input-password"
            >
            <p class="input-error" id="password-error"></p>

            <button 
                class="login-btn"
                id="profile-login-btn">
                Login
            </button>

            <button 
                class="logout-btn"
                id="profile-logout-btn"
                type="button">
                Logout
            </button>
        </div>
    </dialog>