    <dialog id="weather-dialog" class="style-weather-dialog">
        <div class="style-weather-card" id="weather-card">
            <div class="style-weather-top">
                <h1>Current Weather</h1>
                <button id="weather-close-btn" class="style-weather-close-btn" type="button">X</button>
            </div>
            <div class="style-weather-main" id="weather-main">
                <img class="style-weather-icon" id="weather-icon" alt="Weather icon">
                <p class="style-degree" id="degree"></p>
                <p class="style-weather-art" id="weather-art"></p>
                <p class="style-humidity" id="humidity"></p> 
            </div>
        </div>
    </dialog>