<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mood-based-todo-app</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/tasksComponent.css" />
    <link rel="stylesheet" href="/styles/suggestedTaskComponent.css" />
    <link rel="stylesheet" href="/styles/taskCreationForm.css" />
    <link rel="stylesheet" href="/styles/moodSelector.css" />
    <link rel="stylesheet" href="/styles/loginForm.css" />
</head>
<body>

    {{{body}}}


    <!-- JS -->
    <script src="/scripts/index.js"></script>
    <script src="/scripts/suggestedTaskComponent.js"></script>
    <script src="/scripts/moodSelector.js"></script>
    <script src="/scripts/tasksComponent.js"></script>
    <script src="/scripts/taskCreationForm.js"></script>
    <script src="/scripts/loginForm.js"></script>
</body>
</html>