<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodDo</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/Styles/index.css" />
    <link rel="stylesheet" href="/Styles/tasksComponent.css" />
    <link rel="stylesheet" href="/Styles/suggestedTaskComponent.css" />
    <link rel="stylesheet" href="/Styles/taskCreationForm.css" />
    <link rel="stylesheet" href="/Styles/moodSelector.css" />
    <link rel="stylesheet" href="/Styles/loginForm.css" />
</head>
<body>

    {{{body}}}


    <!-- JS -->
    <script src="/Scripts/index.js"></script>
    <script src="/Scripts/suggestedTaskComponent.js"></script>
    <script src="/Scripts/moodSelector.js"></script>
    <script src="/Scripts/tasksComponent.js"></script>
    <script src="/Scripts/taskCreationForm.js"></script>
    <script src="/Scripts/loginForm.js"></script>
</body>
</html>