<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mood-based-todo-app</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../public/styles/index.css" />
    <link rel="stylesheet" href="../../public/styles/tasksComponent.css" />
    <link rel="stylesheet" href="../../public/styles/suggestedTaskComponent.css" />
    <link rel="stylesheet" href="../../public/styles/taskCreationForm.css" />
    <link rel="stylesheet" href="../../public/styles/moodSelector.css" />
    <link rel="stylesheet" href="../../public/styles/loginForm.css" />
</head>
<body>

    {{{body}}}


    <!-- JS -->
    <script src="../../public/scripts/index.js"></script>
    <script src="../../public/scripts/suggestedTaskComponent.js"></script>
    <script src="../../public/scripts/moodSelector.js"></script>
    <script src="../../public/scripts/tasksComponent.js"></script>
    <script src="../../public/scripts/taskCreationForm.js"></script>
    <script src="../../public/scripts/loginForm.js"></script>
</body>
</html>